<!-- for each element in dues, 
    due['customer']: payers info (name, cell); 
    due['orders_info']: info unpaid orders of due['customer'], for each order_info in due['orders_info'], 
    order_info['order']: order_info,e.g. order.id, order.date, order.total_sell, order.order_items, for each item in oder.items
    item.count, item.sell_price, item.product_id which can be used to get info of product by order_info['product'][item.product_id]
    order_info['products'],
-->

<ul class="posts">
    
            {% for due in dues %}
            <div class="card bg-info text-white">
                <div class="card-title">
                    <h2>{{due['customer'].name}}</h4>
                    <h3>
                        <span >Total Amount: {{due['amount']}} </span>
                        <span style="float:right">
                            <a href="#show{{due['customer'].id}}" class="btn btn-info" data-toggle="collapse">See Orders</a>
                        </span>
                       
                            <a href="#show{{due['customer'].id}}" class="btn btn-success" data-toggle="collapse">Pay All</a>
                        
                    </h3>
                </div>
                <div id ="show{{due['customer'].id}}" class="collapse">
                <table class="table table-fixed">
                    <thead>
                        <th></th>
                        <th>Order Id</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </thead>
                <tbody> 
                {% for order_info in due['orders_info']%}

                    <tr>
                        <td></td>
                        <td>{{order_info['order'].id}}</td>
                        <td>{{order_info['order'].date.strftime('%Y-%m-%d')}}</td>
                        <td>{{order_info['order'].total_sell}}</td>
                        <td><a href="{{url_for('main.order_details',order_id=order_info['order'].id)}}">Details</a></td>
                    </tr>
                            
                {% endfor %}
                </tbody>
                </table>
                </div>
            </div>
            {% endfor %}

</ul>
