<ul class="posts">
    <table class="table">
        <thead>
        <tr>

          <th>Brand</th>
          <th>Name/Nick</th>
          <th>Purchase Price</th>
          <th>Sell Price</th>
          <th>Count</th>
        </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{products[loop.index0].brand}}</td>
                    <td>{{products[loop.index0].name}}/{{products[loop.index0].nick_name}}</td>
                    <td>{{items[loop.index0].get_price}}</td>
                    <td>{{items[loop.index0].sell_price}}</td>
                    <td>{{items[loop.index0].count}}</td>
                    
                </tr>


            {% endfor %}
            <td></td>
            <td></td>
            <td>{{order.total_get}}</td>
            <td>{{order.total_sell}}</td>
            <td></td>
        </tbody>
    </table>
</ul>
