<ul class="posts">
    <table class="table table-fixed">
        <thead>
        <tr>

          <th>ID</th>
          <th>Customer</th>
          <th>Date</th>
          <th>Order Price</th>
          <th>Status</th>
	  <th></th>
	  <th></th>
	  <th></th>
        </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.buyer.name}}</td>
                    <td>{{order.date.strftime('%Y-%m-%d')}}</td>
                    <td>{{order.total_sell}}</td>
                    <td>
                        {% if order.paid%}
                            Paid
                        {% else %}
                            Not Paid
                        {% endif %}
                    </td>
                    <td><a href="{{url_for('main.order_details',order_id=order.id)}}">Details</a></td>
                    <td><a href="{{url_for('main.order_edit',order_id=order.id)}}">Edit</a></td>
                    <td><a href="{{url_for('main.order_delete',order_id=order.id)}}">Delete</a></td>
                </tr>


            {% endfor %}
        </tbody>
    </table>
</ul>
