<ul class="posts">
    <table class="table">
        <thead>
        <tr>

          <th>Brand</th>
          <th>Name/Nick</th>
          <th>Sell Price</th>
          <th>Ordered Qty</th>
          <th>Stock Qty</th>
          <th>Shipment</th>
        </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{products[loop.index0].brand}}</td>
                    <td>{{products[loop.index0].name}}/{{products[loop.index0].nick_name}}</td>
                    <td>{{items[loop.index0].sell_price}}</td>
                    <td>{{items[loop.index0].count}}</td>
                    <td>{{stock_items[loop.index0].count}}</td>
                    <td>{{items[loop.index0].shipped_count}}</td>
                    {% if stock_items[loop.index0].count >= items[loop.index0].count%}
                        <td>
                        {% if items[loop.index0].count > items[loop.index0].shipped_count%}
                        <input type="button" onclick="location.href='{{url_for('.item_ship',item_id=items[loop.index0].id)}}'" value="Ship">
                        {% endif %}
                        </td>
                    {% endif%}
                    
                </tr>


            {% endfor %}
            <td>Total</td>
            <td></td>
            
            <td>{{order.total_sell}}</td>
            <td></td>
        </tbody>
    </table>
</ul>
