
    <table id="all_products" class="table table-fixed">
        <thead>
        <tr>

          <th>Brand</th>
          <th>Name</th>
          <th>Nick</th>
          <th>Color</th>
          <th>UPC</th>
          <th>
            Source:
            <select id="source">
                <option value="ALL">ALL</option>
                {% for source in sources %}
                    <option value="{{source}}">{{source}}</option>
                {% endfor %}
            </select>
          </th>
        </tr>
        </thead>
        <tbody id="products_body">
            {% for product in products %}
                <tr>
                    <td title="{{product["brand"]}}">{{product["brand"]}}</td>
                    <td title="{{product["name"]}}">{{product["name"]}}</td>
                    <td title="{{product["nick_name"]}}">{{product["nick_name"]}}</td>
                    <td title="{{product["color"]}}">{{product["color"]}}</td>
                    <td title="{{product["upc"]}}">{{product["upc"]}}</td>
                    <td title="{{product["source"]}}">{{product["source"]}}</td>
                    <td><a href="{{url_for('main.product_details',product_id = product._id)}}">Edit</a></td>
                    <td><a href="{{url_for('main.product_delete',product_id = product._id)}}">Delete</a></td>
                </tr>


            {% endfor %}
        </tbody>
    </table>
