
    <table class="table table-fixed">
        <thead>
        <tr>

          <th>Brand</th>
          <th>Name</th>
          <th>Nick</th>
          <th>Color</th>
            <th>UPC</th>
            <th>Source</th>
        </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td title="{{product["brand"]}}">{{product["brand"]}}</td>
                    <td title="{{product["name"]}}">{{product["name"]}}</td>
                    <td title="{{product["nick_name"]}}">{{product["nick_name"]}}</td>
                    <td title="{{product["color"]}}">{{product["color"]}}</td>
                    <td title="{{product["upc"]}}">{{product["upc"]}}</td>
                    <td title="{{product["source"]}}">{{product["source"]}}</td>
                    <td><a href="{{url_for('main.product_details',product_id = product._id)}}">Edit</a></td>
                </tr>


            {% endfor %}
        </tbody>
    </table>
