<ul class="posts">

{% for k, info in sale_details|dictsort %}
    <div id ="{{info['customer'].id}}" class="card bg-info text-white">
        <div class="card-title">
            <h2>
                {{info['customer'].name}}
                <span style="float:right">
                    <a href="#show{{info['customer'].id}}" class="btn btn-success" data-toggle="collapse">Ordered Items</a>
                </span>
            </h2>
            

        </div>
    </div>
            
    <div id="show{{info['customer'].id}}" class="collapse">
        {% for key2, item in info['sale_items']|dictsort %}

        <div id="{{info['customer'].id}}-{{item['stock_item'].id}}" class = "card bg-dark text-white">
            <div class="card-title">
                
                    <h5>
                        
                            {{products[item['stock_item'].product_id]['brand']}}   
                            {{products[item['stock_item'].product_id]['name']}}/{{products[item['stock_item'].product_id]['nick_name']}}
                            <a href="{{url_for('main.product_details',product_id = products[item['stock_item'].product_id]._id)}}">Details</a>
                        
                        
                            Total Qty: {{item['order_count']}} 
                            Shipped Qty: {{item['ship_count']}}
                        <span style="float:right">
                            <a href="#show{{info['customer'].id}}-{{item['stock_item'].id}}" class="btn btn-info" data-toggle="collapse">Details</a>
                        </span>
                    </h5>

            </div>
            <div id="show{{info['customer'].id}}-{{item['stock_item'].id}}" class = "card-body collapse" >
                <table class="table table-fixed">
                    <thead>
                        <th></th>
                        <th>Order Id</th>
                        <th>Date</th>
                        <th>Qty</th>
                    </thead>
                <tbody> 
                {% for sale in item['sales']%}

                    <tr>
                        <td></td>
                        <td>{{sale.sellorder.id}}</td>
                        <td>{{sale.sellorder.date.strftime('%Y-%m-%d')}}</td>
                        <td>{{sale.count}}</td>
                        <td><a href="{{url_for('main.order_details',order_id=sale.sellorder.id)}}">Order Details</a></td>
                    </tr>
                            
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div> 
        {% endfor %}
    </div>
        
    
{% endfor %}
</ul>
