  <table class="table table-fixed">
        <thead>
        <tr>
          <th>Brand</th>
          <th>Name/Nick Name</th>
          <th>Purchase Price</th>
          <th>Stock Qty.</th>
          <th>Pending Ordered Qty.</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td title="{{products[loop.index0].brand}}">{{products[loop.index0].brand}}</td>
                    <td title="{{products[loop.index0].name}}/{{products[loop.index0].nick_name}}">{{products[loop.index0].name}}/{{products[loop.index0].nick_name}}</td>
                    <td title="{{stocks[loop.index0].price}}">{{stocks[loop.index0].price}}</td>
                    <td title="{{stocks[loop.index0].count}}">{{stocks[loop.index0].count}}</td>
                    <td title="{{stocks[loop.index0].order_count}}">{{stocks[loop.index0].order_count}}</td>
                    <!-- <td><a href="{{url_for('main.stock_item_post',item_id=stocks[loop.index0].id)}}">Post</a></td> -->
                    <!-- <td><a href="{{url_for('main.stock_item_edit',item_id=stocks[loop.index0].id)}}">Edit</a></td> -->
                    <td><a href="{{url_for('main.stock_item_delete',item_id=stocks[loop.index0].id)}}">Delete</a></td>
                </tr>


            {% endfor %}
        </tbody>
  </table>
