{% extends "bootstrap/base.html" %}

{% block title %}Stock M{% endblock %}
{% block metas %}{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui.structure.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui.theme.min.css') }}">

<script src="{{ url_for('static', filename='util.js') }}"></script>

{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
         
        </div>
        <div class="navbar-collapse collapse navHeaderCollapse">
            <ul class="nav navbar-nav">

                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user', user_id=current_user.id) }}">Profile</a></li>

                {% endif %}
                {% if current_user.can(Permission.POST_PRODUCT) %}

                <li><a href="{{ url_for('main.sales_orders') }}">Sell Orders</a></li>
                <li><a href="{{ url_for('main.shipping_all') }}">Shipping</a></li>
                <li><a href="{{ url_for('main.my_customer')}}">My Customers</a></li>
                <li><a href="{{ url_for('main.list_products')}}">My Inventory</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
<div class="container-fluid">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="row">

        <!--<div class="col-md-1 sidebar">
            <div class="menuItem"> 
        		<img src="{{ url_for('static', filename='customer.png') }}" style="width:40px;height:40px;">
        		<a href="{{ url_for('main.my_customer')}}">My Customers</a>
    	    </div>
            <div class="menuItem">
        		<img src="{{ url_for('static', filename='inventory.png') }}" style="width:40px;height:40px;">
        		<a href="{{ url_for('main.list_products')}}">My Inventory</a>
    	    </div>
        </div>-->

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 content">
            {% block page_content %}
                 



            {% endblock %}
        </div>

    </div>
</div>










</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
{% endblock %}



