{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}


        <div class="page-header">

            <h1>Hello 
                {% if current_user.is_authenticated %}
                    {{ current_user.username }}
                {% else %}
                    There
                {% endif %}
            </h1>
            <h2>
                {% if current_user.is_authenticated %}
                    You have the following in stock
                {% else %}
                    Please log in or register.
                {% endif %}
            </h2>
        </div>
        {% if current_user.is_authenticated %}
        <img src="{{ url_for('static', filename='outOfStock.png')}}" style="width:30px; height:30px; float: right; margin:15px;" onclick="location.href='{{url_for('.shopping_list')}}'">
       
        <div id="stockoverview">{% include '_stocks.html' %}</div>
        <div id="addNewProduct">
            <input type="button" class="optionalBtn" onclick="location.href='{{url_for('.new_stock')}}'" value="Search To Add">
            <input type="button" class="optionalBtn" onclick="location.href='{{url_for('.new_scan')}}'" value="Scan To Add">
        </div> 
        
        {% endif %}
        


{% endblock %}

{% block scripts %}
{{super()}}
<script>
    $('#stockoverview tr').each(function(){
        var stockQty = +($(this).find("td:eq(4)").text());
        var orderQty = +($(this).find("td:eq(5)").text());
        if(stockQty < orderQty){
            $(this).css("background","rgba(255, 0, 0, 0.2)");
        }else{
            $(this).css("background", "transparent"); 
        }
    });
</script>
{% endblock %}
