{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">

    <h1>你好,
    {% if current_user.is_authenticated %}
    {{ current_user.username }}
    {% else %}
    Stranger
    {% endif %}</h1>
    <div>
    <div>
        {% if current_user.can(Permission.WRITE_ARTICLES) %}

        <form method="post" action="{{url_for('main.new_sell')}}">
            Buyer Name: <input type="text" name="buyername"><br>
            Address: <input type="text" name="address"><br>
            Cellphone: <input type="text" name="cellphone"><br>
            Products:<br>
            <table class="table">
                <tr>
                    <th>UPC</th>
                    <th>brand</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Get price</th>
                    <th>Sell Price</th>
                    <th>Qty.</th>
                </tr>
                <tbody id="itemtable">

                    <tr id="item1" class="item">
                        <td><input type='text' name="upc"></td>
                        <td><input type='text' size="10" name="brand"></td>
                        <td><input type="text" size="10" name="name"></td>
                        <td><input type="text" size="10" name="type"></td>
                        <td><input type="text" size="10" name="getprice"></td>
                        <td><input type="text" size="10" name="sellprice"></td>
                        <td><input type="text" size="10" name="qty"></td>
                        
                    </tr>


                </tbody>
            </table>
            <button type="button" id="add" onclick="add_item()">Add</button>
            <br>
            <br>
            <input type="submit" >
        </form>


        {% endif %}
    </div>

    </div>


</div>


{% endblock %}


