{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">

    <h1>Hello,
        {% if current_user.is_authenticated %}
        {{ current_user.username }}
        {% else %}
        Stranger
    {% endif %}</h1>
    <div>
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
        <div id="stock_search">
            <select id="source">
                <option value="NONE">NONE</option>
                {% for source in sources %}
                    <option value="{{source}}">{{source}}</option>
                {% endfor %}
            </select>
            <button id="search_source">Search</button>
            <div id="sources_result"></div>
        </div>
        <div id='previewOrder'>
            <label>Preview Order: </label>
            <table class="table table-fixed" id="itemtable">
                <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Name/Nick name</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>  
        </div>
         <div id="buyer_info">
            <label>Buyer Name: </label>
            <input type="text" name="buyername">
            <br>
            <label>Address: </label>
            <input type="text" name="address">
            <br>
            <label>Cellphone: </label>
            <input type="text" name="cellphone">
            <br>
        </div>
         <button class="actionBtn" type="button" id="submit_order" style='float:right;'>Create Order</button>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='jutil.js') }}"></script>


{% endblock %}

