{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}


<div id="upc_scan">
	<label>UPC: </label>
	<input type="text" name="upc">
	<button class="actionBtn" type="button" id="add_scan" autofocus>Add</button>
</div>
<div id="scan_rsult">
	<table class="table table-fixed">
            <thead>
	            <tr>
	            <th>Brand</th>
	            <th>Name/Nick name</th>
	           
	            <th>New Qty.</th>
	            <th>Price</th>
	            </tr>
            </thead>
            <tbody id="scan_table">
            </tbody>	
</div>
{% endblock %}
{% block scripts %}
{{super()}}

<script src="{{ url_for('static', filename='stock_jutil.js') }}"></script>



{% endblock %}