{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">

    <h1>Hello,
    {% if current_user.is_authenticated %}
    {{ current_user.username }}
    {% else %}
    Stranger
    {% endif %}</h1>
    <h2>Please add your new stock items</h2>
    <div>
    <div>
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
        
       <div id="stock_search">
            <select id="source">
                <option value="NONE">NONE</option>
                {% for source in sources %}
                    <option value="{{source}}">{{source}}</option>
                {% endfor %}
            </select>
            <button id="search_source">Search</button>
            <div id="sources_result"></div>
        </div>
        <button class="add" type="button" id="add_search" >Add to Stock</button>
        
        {% endif %}
    </div>

    </div>


</div>


{% endblock %}
{% block scripts %}
{{super()}}

<script src="{{ url_for('static', filename='stock_jutil.js') }}"></script>



{% endblock %}
