{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}


        <div class="page-header">

            <h1>

            {{ current_user.username }}'s Sell Order
            </h1>
            <div>

            <div>
                <h3>Order Status: {{status}}</h3>
                <!-- <div id="ship_info">
                    <label>Receiver: </label>
                    {{order.ship_addr}}
                    <br>
                   
                </div> -->
                <div id="bill_info">
                    <label>Buyer Name: </label>
                    {{order.bill.name}}
                    
                </div>
                <div>{% include '_orderitems.html' %}</div>
                <button class="actionBtn" onclick = "location.href='{{url_for('main.order_edit',order_id=order.id)}}'">Edit</button>
                <!-- <button class= "actionBtn" onclick = "location.href='{{url_for('.order_ship',order_id=order.id)}}'" style="float:right;">Ship All</button> -->
            </div>

            </div>


        </div>




{% endblock %}
{% block scripts %}
{{super()}}

<script src="{{ url_for('static', filename='jutil.js') }}"></script>



{% endblock %}
