{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}


        <div class="page-header">

            <h1>

            {{ current_user.username }}'s Sell Order
            </h1>
            <div>

            <div>
                <h3>Order Status: {{status}}</h3>
                <div id="ship_info">
                    <label>Receiver Name: </label>
                    {{order.ship.name}}
                    <br>
                    <label>Address: </label>
                    {{order.ship.address}}
                    <br>
                    <label>Cellphone: </label>
                    {{order.ship.cellphone}}
                    <br>
                </div>
                <div id="bill_info">
                    <label>Buyer Name: </label>
                    {{order.bill.name}}
                    <br>
                    <label>Address: </label>
                    {{order.bill.address}}
                    <br>
                    <label>Cellphone: </label>
                    {{order.bill.cellphone}}
                    <br>
                </div>
                <div>{% include '_orderitems.html' %}</div>
                <button class="actionBtn" onclick = "location.href='{{url_for('main.order_edit',order_id=order.id)}}'">Edit</button>
                <button class= "actionBtn" onclick = "location.href='{{url_for('.order_ship',order_id=order.id)}}'" style="float:right;">Ship All</button>
            </div>

            </div>


        </div>




{% endblock %}
{% block scripts %}
{{super()}}

<script src="{{ url_for('static', filename='jutil.js') }}"></script>



{% endblock %}
