{% extends "base.html" %}



{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        {% if user.name or user.location %}
        <p>
            {% if user.name %}{{ user.name }}<br>{% endif %}
            {% if user.location %}
                From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a><br>
            {% endif %}
        </p>
        {% endif %}
        {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>Member since {{ moment(user.member_since).format('L') }}. Last seen {{ moment(user.last_seen).fromNow() }}.</p>

        <p>
            {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
            {% endif %}
            {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
            {% endif %}
        </p>
    </div>
    {% if current_user.can(Permission.MODERATOR) %}
    <!-- <div id='send_email'>
        <br>To
        <input type=text name='email'>
        <br>Subject
        <input type=text name='subject'>
        <br>
        <button class="actionBtn" type="button" id="submit_email" >Send</button>
    </div> -->
    <div>
        <form action="{{url_for('.update_rates')}}" method="post">
            USD TO CNY: <input type="text" name="usd_cny" value="{{current_user.usd_cny}}">
            Sales Tax: <input type="text" name="sales_tax" value="{{current_user.sales_tax}}">
            Profit Rate: <input type="text" name="profit_rate" value="{{current_user.profit_rate}}">
            <input type="submit" value="Update">
        </form>
    </div>
    <br>
    <table id="all_user" class="table table-fixed" >
        <thead>
        <tr>

          <th>Name</th>
          <th>Email</th>
          <th>Priority</th>
          <th></th>
          
        </tr>
        </thead>
        <tbody id="products_body">
            {% for u in users %}
                <tr>
                    <td>{{u.name}}/{{u.username}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.role.name}}</td>
                    <td><a href="{{ url_for('main.order_history') }}">Order History</a></td>
                </tr>


            {% endfor %}
        </tbody>
    </table>
    {% if current_user.can(Permission.ADD_PRODUCT)%}
    <div id='new_service'>
        <br>Create New Customer Service
        <br>Email: <input type=text name='email'> 
        <br><button class="actionBtn" type="button" id="add_service" style='float:right;'>Create</button>
    </div>
    {% endif %}



    {% endif %}
</div>
<h3>Posts by {{ user.username }}</h3>
{% include '_posts.html' %}


{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='jutil.js') }}"></script>


{% endblock %}
